{% load static %}
<div id="map"></div>

<div id="ajax-container-map-sidebar">
    {% include 'survey_design/submodules/map-sidebar.html' %}
    {% include 'survey_design/submodules/question-types.html' %}
    {% include 'survey_design/submodules/question-type-forms/text.html' %}
    {% include 'survey_design/submodules/question-type-forms/short-text.html' %}
    {% include 'survey_design/submodules/question-type-forms/radio.html' %}
    {% include 'survey_design/submodules/question-type-forms/select.html' %}
    {% include 'survey_design/submodules/question-type-forms/select-multiple.html' %}
    {% include 'survey_design/submodules/question-type-forms/select-image.html' %}
    {% include 'survey_design/submodules/question-type-forms/integer.html' %}
    {% include 'survey_design/submodules/question-type-forms/float.html' %}
    {% include 'survey_design/submodules/question-type-forms/date.html' %}
    {% include 'survey_design/submodules/question-type-forms/geospatial.html' %}
</div>
<script src="{% static 'survey_design/js/map.js' %}"></script>
