.question_types_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
}

.btn-sidebar-question-type {
    flex-basis: calc(100%/3);
    width: calc(100%/3);
    max-width: calc(100%/3);
    height: 100px;
    max-height: 100px;
}

#question-type-text {
    visibility: hidden;
}

.question_type {
    visibility: hidden;
}

.question-form-default {
    width: 80%;
    margin: 20px;
}

.form-item-question-type {
    margin-top: 15px;
}

.question-text-field {
    min-height: 100px;
}

.question-text-field::placeholder {
    position: relative;
    top: 5%;
}

.btn-array {
    display: flex;
    flex-direction: row;
}

.btn-array .btn {
    flex: 1 1 100%;
}

.margin-top-5pc {
    margin-top: 5%;
}